{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": false,
  "trailingComma": "all",
  "importOrder": ["^react", "^react-native", "^[a-zA-Z]", "^@?\\w", "^[./]"],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
