<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDj1eL13XPLqQqDSbpVY2f7ZebF0nwzC8E</string>
	<key>GCM_SENDER_ID</key>
	<string>367864628963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marketlist</string>
	<key>PROJECT_ID</key>
	<string>marketlist-1de1a</string>
	<key>STORAGE_BUCKET</key>
	<string>marketlist-1de1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367864628963:ios:2399850cd4524455da67d6</string>
</dict>
</plist>